[submodule "vendor/luau"]
	path = vendor/luau
	url = https://github.com/luau-lang/luau
[submodule "vendor/sol2"]
	path = vendor/sol2
	url = https://github.com/Nerixyz/sol2
	branch = feat/luau
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
